@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
  font-family: "Lato";
  font-size: 16px;
  --text-primary: black;
  --blue: hsl(220, 84%, 39%);
  --light-blue: hsl(220, 84%, 50%); 
  --xl: 1.5rem;
  --l: 1.3rem;
  --m: 1.2rem;
  --s: 1rem;
  --xs: 0.8rem;
}

.serif {
  font-family: "Roboto mono", serif;
}


html, body {
  /* dimensions of a4 page */
  width: 210mm;
  height: 297mm;
}

html {
  margin: 0 auto;
}

body{
  /* force background colour in print preview */
  print-color-adjust: exact !important;
  background-color: rgb(250, 250, 250);
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
}

.container {
  margin: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  height: 10rem;
  margin-bottom: 1rem;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 2rem;
}

.header h1 {
  margin: 0;
  font-size: var(--xl);
  font-weight: 900;
  text-transform: uppercase;
}

.header h2 {
  font-size: var(--m);
  margin: .2rem 0;
  color: var(--blue);
}

.icon {
  color: var(--light-blue);
  margin-right: 0.3rem;
}

.contact {
  font-size: var(--xs);
  margin-bottom: 0.2rem;
  margin-right: 1rem;
}

img.avatar {
  --dimensions: 150px;
  width: var(--dimensions);
  height: var(--dimensions);
  border-radius: 50%;
}

ul.links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: black;
}


.main-content h1 {
  color: var(--text-secondary);
  font-size: var(--xl);
  margin: 0;
  text-transform: uppercase;
}

.main-content hr {
  margin-top: 0.2rem;
  height: 2px;
  border: none;
  background-color: var(--text-secondary);
}

@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    
  }
}