@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

:root {
  font-family: "Lato";
  font-size: 16px;
  --text-primary: black;
  --blue: hsl(220, 84%, 39%);
  --light-blue: hsl(220, 84%, 50%);
  --xl: 1.5rem;
  --l: 1.3rem;
  --m: 1.2rem;
  --s: 1rem;
  --xs: 0.8rem;
  box-sizing: border-box;
}

.serif {
  font-family: "Roboto mono", serif;
}

html,
body {
  /* dimensions of a4 page */
  width: 210mm;
  height: calc(297mm * 2);
}

.page {
  height: 297mm;
  width: 210mm;
}

html {
  margin: 0 auto;
}

.page-break {
  top: 297mm;
  width: 100%;
  position: fixed;
  background-color: black;
  height: 1px;
}

body {
  /* force background colour in print preview */
  print-color-adjust: exact !important;
  background-color: rgb(248, 247, 247);
  margin: 0;
}

.container {
  margin: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  height: 10rem;
  margin-bottom: 1rem;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 2rem;
}

.header h1 {
  margin: 0;
  font-size: var(--xl);
  font-weight: 900;
  text-transform: uppercase;
}

.header h2 {
  font-size: var(--m);
  margin: 0.2rem 0;
  color: var(--blue);
}

.icon {
  color: var(--light-blue);
  margin-right: 0.3rem;
}

.contact {
  font-size: var(--xs);
  margin-bottom: 0.2rem;
  margin-right: 1rem;
}

img.avatar {
  --dimensions: 150px;
  width: var(--dimensions);
  height: var(--dimensions);
  border-radius: 50%;
}

ul.links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: black;
}

.main-content h1 {
  color: var(--blue);
  font-size: var(--xl);
  margin: 0;
  text-transform: uppercase;
}

.main-content .header-line-break {
  margin-top: 0.2rem;
  height: 2px;
  border: none;
  background-color: var(--blue);
}

.main-content h2,
.main-content h3,
.main-content h4 {
  margin: 0 0 0.2rem 0;
  color: var(--blue);
}

.main-content li {
  font-size: 1rem;
}

.main-content li h2 {
  font-size: 1.1em;
  font-weight: 700;
}

.main-content li h3 {
  font-size: 0.9em;
  font-weight: 400;
}

.main-content li p {
  font-size: 1em;
}

.projects > ul,
.education > ul,
.work > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.projects > ul::before,
.education > ul::before,
.work > ul::before {
  content: "";
  width: 2px;
  background: linear-gradient(
    to bottom,
    hsla(220, 84%, 70%),
    75%,
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  left: 3px;
  top: 6px;
  height: 100%;
  z-index: -1;
}

.projects > ul > li,
.education > ul > li,
.work > ul > li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.projects > ul > li::before,
.education > ul > li::before,
.work > ul > li::before {
  content: "";
  display: inline-block;
  --dimensions: 0.5rem;
  width: var(--dimensions);
  height: var(--dimensions);
  background: hsla(220, 84%, 50%);
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 50%;
}

.ext-link {
  text-decoration: underline;
  color: var(--light-blue);
}

time {
  color: var(--light-blue);
  font-size: 0.8em;
}

.courses-list,
.courses-sub-list,
.sub-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-list {
  margin-top: 0.5rem;
}

.sub-list > li > span {
  display: flex;
}

.sub-list li {
  margin-bottom: 0.2rem;
}

.sub-list .text {
  position: relative;
  display: block;
  top: -0.1rem;
}

.sub-list i {
  display: block;
}

.courses-list > li {
  margin-bottom: 2rem;
}

.list-icon {
  margin-right: 0.5rem;
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills-list li {
  padding: 0.3rem;
  margin: 0.2rem;
  border: 1px dotted black;
  border-radius: 7px;
}

.skills hr {
  margin: 0.2rem;
  height: 1px;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    hsl(220, 84%, 50%),
    rgba(0, 0, 0, 0)
  );
}

.job-type {
  margin: 0;
  font-size: var(--xs) !important;
  margin-top: 3px;
  color: rgb(157, 157, 157);
}

@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
  }
}

.space {
  margin: 25rem 0;
}